{% extends "base.html" %}

{% block title %} Post {% endblock %}

{% block content %}
      {% for post in posts %}
      <div id="carta" class="card col-4 text-center mt-4">
        <div class="card-header">
          Post
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          {% if post.text|length > 50 %}
          <p class="card-text">{{ post.text|truncatewords:50 }}...</p>
          {% else %}
          <p class="card-text">{{ post.text }}</p>
          {% endif %}
          <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read</a>
        </div>
        <div class="card-footer text-muted">
          {{ post.created_date }}
        </div>
      </div>
      {% endfor %}
{% endblock %}

